@model SI.Models.Post

<div class="Score">
    @using (Html.BeginForm("Vote", "Post"))
    {
        @Html.HiddenFor(model => model.Id)
       
            @Html.ValueFor(model => model.Score)
        <button type="submit" name="submit" value="UpVote" class="button" style="width: 10%;">
            <img src="@System.Configuration.ConfigurationManager.AppSettings["UpVote"]" />
        </button>
        <button type="submit" name="submit" value="DownVote" class="button" style="width: 10%;">
            <img src="@System.Configuration.ConfigurationManager.AppSettings["DownVote"]" />
        </button>
    
    }
</div>